@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/blocks\.scss}line{font-family:\000038}}
.region-leaderboard .block,
.region-header .block {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/blocks\.scss}line{font-family:\0000313}}
.large-message {
  background: #1d618b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/blocks\.scss}line{font-family:\0000316}}
.large-message .block-inner {
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/blocks\.scss}line{font-family:\0000322}}
.large-message .block-content {
  width: 100%;
  background: url(../images/large-drop.png) 0 5px no-repeat;
  min-height: 325px;
  height: auto !important;
  height: 325px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/blocks\.scss}line{font-family:\0000328}}
.large-message .message-item {
  text-align: right;
  float: right;
  clear: right;
  margin: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/blocks\.scss}line{font-family:\0000334}}
.large-message .message-item a {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/blocks\.scss}line{font-family:\0000339}}
.large-message .power {
  max-width: 600px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/blocks\.scss}line{font-family:\0000343}}
.large-message .welcome {
  max-width: 800px;
  margin: 0 0 1em 0;
}
