/*
 * User menu
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/navigation\.scss}line{font-family:\0000310}}
#block-system-user-menu ul.menu {
  float: right;
  margin: 3px 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/navigation\.scss}line{font-family:\0000315}}
#block-system-user-menu ul.menu li {
  list-style: none;
  list-style-image: none;
  float: left;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #cccccc;
  line-height: 1.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/navigation\.scss}line{font-family:\0000323}}
#block-system-user-menu ul.menu li.first {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

/*
 * Main Menu
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/navigation\.scss}line{font-family:\0000336}}
#block-system-main-menu {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/navigation\.scss}line{font-family:\0000339}}
#block-system-main-menu ul.menu {
  margin: 55px 0 0 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/navigation\.scss}line{font-family:\0000343}}
#block-system-main-menu ul.menu li {
  list-style: none;
  list-style-image: none;
  float: left;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #bbb;
  line-height: 1.4em;
  font-size: 1.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/navigation\.scss}line{font-family:\0000352}}
#block-system-main-menu ul.menu li.first {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}
