/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete 
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\0000315}}
#page {
  min-height: 500px;
  height: auto !important;
  height: 500px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\0000320}}
#branding,
.region-header {
  float: none;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\0000325}}
#block-system-main-menu {
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\0000328}}
#block-system-main-menu ul.menu {
  margin: 1em 0;
}
