/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the default font size on small devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000316}}
html {
  font-size: 112.5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000321}}
#branding,
.region-header {
  float: none;
  width: 100%;
}

/*
 * Main Menu
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000330}}
#block-system-main-menu {
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000333}}
#block-system-main-menu ul.menu {
  margin: .5em 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000337}}
#block-system-main-menu ul.menu li {
  list-style: none;
  list-style-image: none;
  float: none;
  margin-left: 0;
  padding-left: 0;
  border-left: none;
  line-height: 1.2em;
  font-size: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000346}}
#block-system-main-menu ul.menu li.first {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

/*
 * Large message block
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000359}}
.large-message {
  font-size: .9em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000362}}
.large-message .block-content {
  background-position: right 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeni\/html\/drop\.coop\/httpdocs\/sites\/all\/themes\/dropcoop-at\/sass\/responsive\.smartphone\.portrait\.scss}line{font-family:\0000366}}
.large-message .message-item {
  text-align: left;
  float: none;
  margin: 10px 0;
}
