
// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";

.region-leaderboard,
.region-header {
  
  .block {
    margin-bottom: 0;
  }
}

.large-message {
  background: $blue;
  
  .block-inner {
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
  }
  
  .block-content {
    width: 100%;
    background: url(../images/large-drop.png) 0 5px no-repeat;
    @include min-height(325px);
  }
  
  .message-item {
    text-align: right;
    float: right;
    clear: right;
    margin: 10px 0;
    
    a {
      color: #fff;
    }
  }
  
  .power {
    max-width: 600px;
  }
  
  .welcome {
    max-width: 800px;
    margin: 0 0 1em 0;
  }
  
  .what-we-do {
    
  }
}