
// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";

/*
 * User menu
 */

#block-system-user-menu {
  ul.menu {
    float: right;
    margin: 3px 0;
    padding: 0;
    
    li {
      @include nobull;
      float: left;
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid $border;
      line-height: 1.2em;
      
      &.first {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
      }
    }
  }
}

/*
 * Main Menu
 */

#block-system-main-menu {
  float: right;
  
  ul.menu {
    margin: 55px 0 0 0;
    padding: 0;
    
    li {
      @include nobull;
      float: left;
      margin-left: 20px;
      padding-left: 20px;
      border-left: 1px solid #bbb;
      line-height: 1.4em;
      font-size: 1.2em;
      
      &.first {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
      }
    }
  }
}