
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the body font size on small devices */
html {
  font-size: 112.5%; 
}

#branding,
.region-header {
  float: none;
  width: 100%;
}

/*
 * Main Menu
 */

#block-system-main-menu {
  float: none;
  
  ul.menu {
    margin: .5em 0;
    padding: 0;
    
    li {
      @include nobull;
      float: none;
      margin-left: 0;
      padding-left: 0;
      border-left: none;
      line-height: 1.2em;
      font-size: 1em;
      
      &.first {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
      }
    }
  }
}

/*
 * Large message block
 */

.large-message {
  font-size: .753em;
  
  .block-content {
    background-position: right 5px;
  }
  
  .message-item {
  text-align: left;
  float: none;
  }
}